body {
    display: block;
    text-align: -webkit-center;
}
.formclass{
  background: url(./Assets/images/backgroundimg.jpg) no-repeat;
    width: fit-content;
    
}

.mainclass{
    padding: 1.5625rem;
}
#errormsg {
  text-align: left;
    margin: 0.25rem;
    color: red;
}
.submitbutton {
  width: 20.625rem !important;
}

.inputclass{
    padding:0px 0.75rem;
    font-size:0.875rem;
    color: azure;
    background:fixed;
    outline:none;
    display:inline-block;
    height:2rem;
  	border-radius:0.25rem;
    border:1px solid #CAC9C7;   
    width: 17.8125rem;
    padding-right: 2rem;
}
.searchclass {
    padding: 0px 0.75rem;
    font-size: 0.875rem;
    background: fixed;
    outline: none;
    display: inline-block;
    height: 2rem;
    border-radius: 0.25rem;
    border: 1px solid #CAC9C7;
    width: 22.5rem;
    padding-right: 2rem;
}

.title, .description, .submit{
    margin: 1rem;
}
.inputDescription{
    padding-top: 0.625rem;
    height: 12.5rem;
}

.list {
  display: table-caption;
}

.list-note-app-button {
  /*height: 1.75rem; */
    /* width: 6.25rem; */
    outline: none;
    background-color: transparent;
    /* color: #fff; */
    /* border-radius: 1.25rem; */
    border: none;
    font-size: 0.8rem;
}

.list-note {
    display: inline-flex;
    align-items: center;
    width: 25rem;
    /*height: 8.125rem;*/
    margin: 1.25rem 1rem 0rem 0rem;
    border-bottom: 0.0625rem #ccc solid;
    padding-bottom: 1.563rem;
  }

  .list-note-left-box {
    height: 100%;
  }
  .list-note-right-box {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 1rem;
    text-align: left;
  }
  
  .list-note-title {
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  
  .list-note-description {
    margin-bottom: 0.75rem;
    font-size: 0.875rem;
    height: 1rem;
  }
  .list-note-button {
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    max-block-size: -webkit-fill-available;
  }
  .list-note-icon {
    display: flex;
    width: 4.25rem;
    height: 4.25rem;
    border-radius: 0.25rem;
  }
  

/* @media only screen and (max-width: 500px) {
    .mainclass,
    .inputclass
     {
      width: 180px;  
    }
    .submitbutton {
      width: 225px !important
    }
    .formclass{
      width: 400px
    }

  } */
  @media only screen and (max-width: 700px) {
    .formclass{width: -webkit-fill-available !important;}
    .inputclass,.submitbutton{width: -webkit-fill-available !important;}
    .list-note{
      display:flex !important;
      justify-content: initial !important;
      padding-left: 12px;
      width: -webkit-fill-available !important;
    }
    .list{ display: unset;}
    .searchclass{width: -webkit-fill-available !important;}
    .list{width: 100% !important;}
    
  } 

  @media only screen and (min-width : 768px) and (max-width : 1024px)  { 
    .formclass{width: -webkit-fill-available !important;}
  
    .inputclass,.submitbutton{width: -webkit-fill-available !important;}
    .list-note{
      display:flex !important;
      justify-content: initial !important;
      padding-left: 12px;
      width: -webkit-fill-available !important;
    }
    .list{ display: unset;}
    .searchclass{width: -webkit-fill-available !important;}
    .list{width: 100% !important;}
  }